*{
	box-sizing: border-box;
}


body{
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

h1{ font-size: 7em; }
h2{ font-size: 2.7em; }
h3{ font-size:   2em; }
p{ font-size: 1.25em; }
a{ font-size: 2.5em }


button{
	font-size: 3em;
	font-weight: bold;
	padding: 10px 20px;
	border: none;
	box-shadow: none;
	color: #f5f5f5;
	background-color: #f05454;
}



button:hover{
	background-color: #30475E;
}

.container{
	max-width: 1400px;
	margin: auto;
}

header{
	background-color: #f05454;
	
}

header .logo{
	margin: 0;
	padding: 25px 30px;
	color: #f5f5f5;
	font-size: 3em;
	font-weight: bold;
	
}

header .container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header nav{
	display: flex;
	flex-direction: row;

	align-items: center;
	padding-bottom: 10px;
}

header a{
	padding: 5px 12px;
	text-decoration: none;
	color: #f5f5f5;

}

header a:hover{
	background-color: #30475E;
}

#Banner{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	color: #f5f5f5;
	background-image: linear-gradient(0deg,rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(Banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.video{
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video iframe{
	width: 100%;
	height: 540px;
}

.ContentCenter{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
	background-color: #30475E;
	padding: 100px 20px;
	color: #f5f5f5;
}

.ContentCenter h1{
	font-size: 3em;
}

.content{
	padding: 10px 50px;
}

.content b{
	color: #f05454;
}

.img{
	width: 90%;
	margin: auto;

}

.img img{
	width: 100%;
}

.ContentLeft .container{
	padding: 200px 100px;

}

.ContentRight{
	background-color: #30475E;
	color: #f5f5f5;
}

.ContentRight .container{
	
	padding: 200px 100px;
}

#cards{
	text-align: center;
}

#cards .container{
	padding: 100px 12px;
}

#cards h3{
	margin-top:0;
	font-size: 2.5em; 
}



#cards .card{

	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 200px 50px;
	margin: 20px;

}

#cards .card p{
	text-align: initial;
}

#cards .card button{
	font-size: 2.5em;
}

.card:first-child{
	background-image: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.5)) ,url(story.jpg);	

}


.card:last-child{
	background-image: linear-gradient(0deg,rgba(0,0,0,0.7), rgba(0,0,0,0.5)) ,url(credits.png);	

}

footer{
	background-color: #30475E;
	color: #f5f5f5;
}

footer p{
	margin: 0;
	padding: 12px;
}

footer .container{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

@media (min-width:1280px ){
	header{
		position: fixed;
		width: 100%;
	}
	header .container{
		flex-direction: row;
		justify-content: space-between;
	}
	header nav{
		flex-direction: row;
		padding-bottom: 0;
	}

	header .logo{
		font-size: 2em;
	}

	a{
		font-size: 1.7em;
	}

	button{
		font-size: 1.7em;
	}

	#Banner h1{
		font-size: 5em;
	}

	.img{
		width: 40%;
		margin: auto;
	}

	.ContentLeft .texto{
		width: 50%;
		max-width: 600px;
		text-align: initial;
		display: flex;
		padding: 0px 30px;
		align-items: center;
		flex-direction: column;
	}


	.ContextLeft h2{
		margin: 0;
	}

	.ContentLeft .container{
		display: flex;
		justify-content: space-evenly;
	}

	.ContentLeft .img-container{
			background-image: url(purpose.jpg);	
			background-size: cover;
			background-position: center;
			height: 500px;
			width: 50%;
	}

	.ContentRight .texto{
		width: 50%;
		max-width: 600px;
		text-align: initial;
		display: flex;
		padding: 0px 30px;
		align-items: center;
		flex-direction: column;
	}


	.ContextRight h2{
		margin: 0;
	}

	.ContentRight .container{
		display: flex;
		justify-content: space-evenly;
	}

	.ContentRight .img-container{
			background-image: linear-gradient(0deg,rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(different.jpg);	
			background-size: cover;
			background-position: center;
			height: 500px;
			width: 50%;
	}

	#cards #cards-Container{
		display:flex;
		justify-content: center;
	}
	#cards p{
		display: block;
	}
}

@media (max-width:840px ){

	h1{ font-size: 5em; }

	header .logo{
		font-size: 2em;
	}

	.video{
		padding: 20px 10px;
	}

	.content{
		padding: 10px 20px;
	}

	.video iframe{
		height: 320px;
	}


	.ContentLeft .container{
		padding: 50px 50px;
	}

	.ContentRight .container{
		padding: 50px 50px;
	}


	a{
		font-size: 1.7em;
	}
	button{
		font-size: 1.7em;
	}
}


@media (max-height:840px ){

	h1{ font-size: 3em; }

	header .logo{
		font-size: 1.5em;
	}

	a{
		font-size: .9em;
	}
	button{
		font-size: 1em;
	}
}

